@charset "UTF-8";
/*Components*/
* {
  Margin: 0;
  Padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*Navbar*/
.header-container {
  font-weight: bold;
  color: grey;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  position: relative;
  z-index: 5;
}

.navbar {
  opacity: 90%;
  background-color: white;
}

.navbar-inner {
  background: white;
}

.logo {
  width: 6%;
  top: 4px;
  left: 4px;
}

.simples, .triples, .combos {
  text-decoration: none;
  color: gray;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
}

/*Navbar*/
/*Portada*/
.portada {
  margin-top: 100px;
  width: 100%;
  margin-left: 20px;
}

.subtitulo {
  text-align: center;
}

.span {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  color: #77dd77;
  text-decoration: none;
  font-weight: bolder;
}

.h-3 {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: gray;
  z-index: 1;
}

.container-portada {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
  height: 700px;
}

/*Portada*/
/*Descripcion*/
.container-descripcion {
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 30px;
  margin-bottom: 200px;
}

.gif {
  width: 100%;
}

.subtitulo-2 {
  margin-top: 200px;
  font-size: 26px;
  color: gray;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/*Descripcion*/
/*Sabores*/
.sabores2 {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: white;
  background-image: url("../imagenes/fondo-main-copia-60k.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*Sabores*/
/*Clientes*/
.frente-clientes {
  width: 80%;
  padding-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008B8B;
  background-image: url(../imagenes/bg-pattern-bottom.svg), url(../imagenes/bg-pattern-top.svg);
  background-position: left 45vw top 55vh, right 55vw bottom 30vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card {
  height: 25rem;
  width: 25rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.226);
}

.card-top {
  height: 14rem;
  background-color: #990000e5;
  background-size: cover;
  overflow: hidden;
}

.card-middle {
  height: 12rem;
  border-bottom: 0.1rem solid #c0c0c0f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
  border: 0.6rem solid white;
  margin-top: -8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-weight: 500;
  font-size: 22px;
  margin-right: 5px;
}

.age {
  font-weight: 500;
  font-size: 22px;
}

.city {
  font-size: 1.5rem;
  color: black;
}

.card-bottom {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

.h3-card-b {
  color: gray;
  font-size: 20px;
  font-weight: 100;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/*Clientes*/
/*Footer*/
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 3%;
}

.instagram {
  width: 3%;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.facebook {
  width: 3%;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.creditos {
  background-color: #000111;
  text-align: center;
  padding: 50px;
  color: whitesmoke;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: whitesmoke;
}

/*Keyframes*/
/*Lo dejo vacío por si agrego animaciones más adelante*/
/*Contacto*/
#contacto {
  background-color: #595959;
  padding: 40px 0;
}

.index-h2 {
  text-align: center;
  padding: 20px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

form input {
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

form textarea {
  padding: 70px 20px;
  font-size: 14px;
  margin: 30px 0;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
}

.columna-contacto {
  font-family: "Montserrat", sans-serif;
  color: white;
}

/*Simples*/
.container-simples {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.imagen {
  margin-top: 10px;
}

.informacion, .precio {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.da-1, .da-2, .da-3, .da-4 {
  border: 1px solid black;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

/*Simples*/
/*Triples*/
.container-triples {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.imagen {
  margin-top: 10px;
}

.informacion, .precio {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.da-1, .da-2, .da-3, .da-4 {
  border: 1px solid black;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

/*Triples*/
/*Combos*/
.container-combos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.imagen {
  margin-top: 10px;
}

.informacion, .precio {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.da-1, .da-2, .da-3, .da-4 {
  border: 1px solid black;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

/*Combos*/
/*mediaQueries*/
/*Queries*/
/*Mobile*/
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .navbar-brand {
    position: static;
    top: auto;
    right: auto;
    left: auto;
    text-align: left;
  }

  .logo {
    position: static;
    right: auto;
    top: auto;
    width: 10%;
  }

  .subtitulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .span {
    font-size: 54px;
  }

  .container-portada {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 750px;
  }

  .portada {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .sabores2 {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .container-descripcion {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .subtitulo-2 {
    margin-top: 20px;
  }

  .clientes-section {
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .frente-clientes {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 80%;
    width: 100%;
  }

  .card-top {
    height: 9rem;
  }

  .card-middle {
    height: 9rem;
    margin-top: 10px;
  }

  .card-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image {
    width: 70%;
  }

  .name, .age, .city, .h3-card-b {
    font-size: 20px;
  }

  .whatsapp {
    width: 10%;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }

  .facebook, .instagram {
    width: 8%;
  }
}
/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .subtitulo {
    padding-top: 20px;
  }

  .container-portada {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
  }

  .portada {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .span {
    font-size: 54px;
    margin-top: 60px;
  }

  .container-descripcion {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .subtitulo-2 {
    margin-top: 40px;
  }

  .clientes-section {
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .frente-clientes {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 80%;
    width: 60%;
    margin-left: 140px;
  }

  .card-top {
    height: 9rem;
  }

  .card-middle {
    height: 9rem;
    margin-top: 10px;
  }

  .card-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image {
    width: 70%;
  }

  .name, .age, .city, .h3-card-b {
    font-size: 20px;
  }

  .index-h2, .form {
    font-size: 20px;
  }

  .facebook, .instagram {
    width: 7%;
  }

  .whatsapp {
    width: 9%;
    bottom: 40px;
    right: 60px;
  }
}
/*Queries*/

/*# sourceMappingURL=style.css.map */
