.navbar {
    background-color: #EFEFEF;
    font-family: "gandhi_sansregular";
    font-size: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
  }
  .navbar .navbar-toggler {
    flex-wrap: nowrap;
    float: right;
  }
  .navbar a {
    color: #46515C;
  }
  .navbar a:hover {
    color: #A51C80;
  }
  .navbar .container-fluid {
    display: inline !important;
  }
  .navbar .container-fluid .navbar-nav .dropdown-item:active {
    background-color: #DBDEE1;
    color: whitesmoke;
  }
  .navbar .container-fluid .navbar-nav .nav-item {
    margin-right: 25px;
  }
  .navbar .container-fluid .navbar-nav .nav-item a:hover {
    text-decoration: underline;
    color: #A51C80;
  }
  .navbar .container-fluid .navbar-nav .button-shop a {
    color: #46515C;
  }
  .navbar .container-fluid .navbar-nav .button-shop a:hover {
    color: #A51C80;
  }
  .navbar .container-carrito {
    justify-content: flex-end;
  }
  .navbar .container-carrito .fa-shopping-cart {
    color: #46515C;
    font-size: 20px;
    margin-right: 2rem;
    margin-top: 0.3rem;
  }
  .navbar .container-carrito .fa-shopping-cart:hover {
    color: #A51C80;
  }
  
  @media (max-width: 575.98px) {
    .container-menu {
      padding-left: 1rem;
    }
    .container-menu .logo-header {
      width: 70%;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .container-menu {
      padding-left: 1rem;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .container-menu {
      padding-left: 1rem;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-nosotros {
      margin-left: 1rem;
    }
  }
  @media (min-width: 1199.99px) {
    .nav-nosotros {
      margin-left: 1rem;
    }
  }
  .welcome .btn-access, .shop-container .item-tripack .carrito-shop, .home-textos .button-home, .container-contacto .formulario-contacto .container-btn .button-submit, #tripacks .container-tripacks .item-tripack .ver-shop {
    font-family: "Spinnaker", sans-serif;
    background-color: transparent;
    color: #46515C;
    border-radius: 30px;
    border-width: 1px;
    border-color: #46515C;
  }
  .welcome .btn-access:hover, .shop-container .item-tripack .carrito-shop:hover, .home-textos .button-home:hover, .container-contacto .formulario-contacto .container-btn .button-submit:hover, #tripacks .container-tripacks .item-tripack .ver-shop:hover {
    color: #A51C80;
    border-color: #A51C80;
    border-style: solid;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .texto-home, .button-home, .titulo-nosotros,
  .titulo-tripacks, .titulo-bodegas, .titulo-contacto {
    font-family: "Spinnaker", sans-serif;
    color: #A51C80;
  }
  
  .nosotros-textos, .bodegas-textos, .home-textos .subtitulo-home {
    font-family: "gandhi_sansregular";
    color: #46515C;
  }
  
  .footer {
    background-color: #DBDEE1;
    display: flex;
    justify-content: space-evenly;
  }
  .footer p {
    font-family: "Spinnaker", sans-serif;
    margin-bottom: 8px;
  }
  .footer a {
    text-decoration: none;
    color: #46515C;
  }
  .footer .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .footer .no-gutters > [class^=col-], .footer .no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .footer .delsurwines-footer {
    flex-direction: column;
  }
  .footer .delsurwines-footer ul {
    list-style: none;
  }
  .footer .shop-footer {
    flex-direction: column;
  }
  .footer .shop-footer ul {
    list-style: none;
  }
  .footer .rrss {
    flex-direction: column;
    width: 25%;
  }
  .footer .rrss i {
    font-size: 25px;
    margin-right: 15px;
  }
  .footer .copyright {
    font-size: 10px;
    margin-top: 8px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .container {
    scroll-margin-top: 8em;
  }
  .container .container-nosotros {
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 575.98px) {
    .container-nosotros {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .container-nosotros .nosotros-textos {
      text-align: center;
      margin-top: 30px;
    }
    .container-nosotros .nosotros-textos .titulo-nosotros {
      font-size: 27px;
    }
    .container-nosotros .nosotros-textos .texto-nosotros {
      font-size: 14px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .nosotros-textos {
      margin-left: 15px;
    }
    .nosotros-textos .titulo-nosotros {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .nosotros-textos .texto-nosotros {
      font-size: 14px;
      text-align: left;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .nosotros-textos {
      margin-left: 10px;
    }
    .nosotros-textos .titulo-nosotros {
      font-size: 27px;
      margin-bottom: 6px;
    }
    .nosotros-textos .texto-nosotros {
      font-size: 16px;
      text-align: left;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .nosotros-textos {
      margin-left: 20px;
    }
    .nosotros-textos .titulo-nosotros {
      font-size: 27px;
      margin-bottom: 6px;
    }
    .nosotros-textos .texto-nosotros {
      font-size: 18px;
      text-align: left;
    }
  }
  @media (min-width: 1199.99px) {
    .nosotros-textos {
      margin-left: 10px;
    }
    .nosotros-textos .titulo-nosotros {
      font-size: 27px;
      margin-bottom: 12px;
    }
    .nosotros-textos .texto-nosotros {
      font-size: 18px;
      text-align: left;
    }
  }
  .welcome .btn-access, .shop-container .item-tripack .carrito-shop, .home-textos .button-home, .container-contacto .formulario-contacto .container-btn .button-submit, #tripacks .container-tripacks .item-tripack .ver-shop {
    font-family: "Spinnaker", sans-serif;
    background-color: transparent;
    color: #46515C;
    border-radius: 30px;
    border-width: 1px;
    border-color: #46515C;
  }
  .welcome .btn-access:hover, .shop-container .item-tripack .carrito-shop:hover, .home-textos .button-home:hover, .container-contacto .formulario-contacto .container-btn .button-submit:hover, #tripacks .container-tripacks .item-tripack .ver-shop:hover {
    color: #A51C80;
    border-color: #A51C80;
    border-style: solid;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .texto-home, .button-home, .titulo-nosotros,
  .titulo-tripacks, .titulo-bodegas, .titulo-contacto {
    font-family: "Spinnaker", sans-serif;
    color: #A51C80;
  }
  
  .nosotros-textos, .bodegas-textos, .home-textos .subtitulo-home {
    font-family: "gandhi_sansregular";
    color: #46515C;
  }
  
  #tripacks {
    padding: 0px 80px 0px 80px;
    scroll-margin-top: 3.5em;
    background-color: #DBDEE1;
  }
  #tripacks .titulo-tripacks {
    color: whitesmoke;
  }
  #tripacks .container-tripacks {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #tripacks .container-tripacks .item-tripack {
    margin: 0.5rem;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: none;
  }
  #tripacks .container-tripacks .item-tripack .nombre-tripack {
    margin-top: 10px;
    font-family: "Spinnaker", sans-serif;
  }
  #tripacks .container-tripacks .item-tripack p {
    text-align: center;
  }
  #tripacks .container-tripacks .item-tripack img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.8s;
  }
  #tripacks .container-tripacks .item-tripack .ver-shop {
    font-family: "gandhi_sansregular" !important;
    text-align: center;
    border-radius: 30px;
    width: 5.5rem;
    height: 2rem;
  }
  #tripacks .container-tripacks .item-tripack .ver-shop a {
    text-decoration: none;
    color: #46515C;
  }
  #tripacks .container-tripacks .item-tripack .ver-shop:hover {
    border: 1px solid #A51C80;
    background-color: transparent;
  }
  #tripacks .container-tripacks .item-tripack .ver-shop:hover a {
    color: #A51C80;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 575.98px) {
    .titulo-tripacks {
      text-align: left;
      font-size: 50px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .titulo-tripacks {
      text-align: left;
      font-size: 65px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .titulo-tripacks {
      text-align: center;
      font-size: 75px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .titulo-tripacks {
      text-align: left;
      font-size: 80px;
    }
  }
  @media (min-width: 1199.99px) {
    .titulo-tripacks {
      text-align: left;
      font-size: 80px;
    }
  }
  .welcome .btn-access, .shop-container .item-tripack .carrito-shop, .home-textos .button-home, .container-contacto .formulario-contacto .container-btn .button-submit, #tripacks .container-tripacks .item-tripack .ver-shop {
    font-family: "Spinnaker", sans-serif;
    background-color: transparent;
    color: #46515C;
    border-radius: 30px;
    border-width: 1px;
    border-color: #46515C;
  }
  .welcome .btn-access:hover, .shop-container .item-tripack .carrito-shop:hover, .home-textos .button-home:hover, .container-contacto .formulario-contacto .container-btn .button-submit:hover, #tripacks .container-tripacks .item-tripack .ver-shop:hover {
    color: #A51C80;
    border-color: #A51C80;
    border-style: solid;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .texto-home, .button-home, .titulo-nosotros,
  .titulo-tripacks, .titulo-bodegas, .titulo-contacto {
    font-family: "Spinnaker", sans-serif;
    color: #A51C80;
  }
  
  .nosotros-textos, .bodegas-textos, .home-textos .subtitulo-home {
    font-family: "gandhi_sansregular";
    color: #46515C;
  }
  
  .container-contacto {
    scroll-margin-top: 8em;
    margin-top: 7rem;
    margin-right: auto;
    margin-left: auto;
  }
  .container-contacto .formulario-contacto .titulo-contacto {
    font-size: 27px;
  }
  .container-contacto .formulario-contacto .form-group {
    margin-bottom: 1rem;
  }
  .container-contacto .formulario-contacto .container-btn {
    margin-top: 0.8rem;
  }
  .container-contacto .formulario-contacto .container-btn .button-submit {
    height: 30px;
    width: 95px;
  }
  
  #bodegas {
    scroll-margin-top: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #bodegas .container-bodegas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #bodegas .container-bodegas .bodegas-textos {
    margin-right: 5%;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 575.98px) {
    .container-bodegas {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .container-bodegas .bodegas-textos {
      text-align: center;
    }
    .container-bodegas .bodegas-textos .titulo-bodegas {
      font-size: 27px;
    }
    .container-bodegas .bodegas-textos .texto-bodegas {
      font-size: 14px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .bodegas-textos {
      text-align: left;
    }
    .bodegas-textos .titulo-bodegas {
      font-size: 22px;
      margin-bottom: 8px;
      line-height: 1.3;
    }
    .bodegas-textos .texto-bodegas {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .bodegas-textos {
      text-align: left;
    }
    .bodegas-textos .titulo-bodegas {
      font-size: 27px;
      margin-bottom: 8px;
      line-height: 1.3;
    }
    .bodegas-textos .texto-bodegas {
      font-size: 16px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .bodegas-textos {
      text-align: left;
    }
    .bodegas-textos .titulo-bodegas {
      font-size: 27px;
    }
    .bodegas-textos .texto-bodegas {
      font-size: 18px;
    }
  }
  @media (min-width: 1199.99px) {
    .bodegas-textos {
      text-align: left;
    }
    .bodegas-textos .titulo-bodegas {
      font-size: 27px;
    }
    .bodegas-textos .texto-bodegas {
      font-size: 18px;
    }
  }
  .welcome .btn-access, .shop-container .item-tripack .carrito-shop, .home-textos .button-home, #tripacks .container-tripacks .item-tripack .ver-shop, .container-contacto .formulario-contacto .container-btn .button-submit {
    font-family: "Spinnaker", sans-serif;
    background-color: transparent;
    color: #46515C;
    border-radius: 30px;
    border-width: 1px;
    border-color: #46515C;
  }
  .welcome .btn-access:hover, .shop-container .item-tripack .carrito-shop:hover, .home-textos .button-home:hover, #tripacks .container-tripacks .item-tripack .ver-shop:hover, .container-contacto .formulario-contacto .container-btn .button-submit:hover {
    color: #A51C80;
    border-color: #A51C80;
    border-style: solid;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .texto-home, .button-home, .titulo-nosotros,
  .titulo-tripacks, .titulo-bodegas, .titulo-contacto {
    font-family: "Spinnaker", sans-serif;
    color: #A51C80;
  }
  
  .nosotros-textos, .bodegas-textos, .home-textos .subtitulo-home {
    font-family: "gandhi_sansregular";
    color: #46515C;
  }
  
  .container-home {
    display: flex;
    margin-top: 5rem;
  }
  
  .home-textos {
    display: flex;
    justify-content: flex-start;
  }
  .home-textos .texto-home {
    font-family: "Spinnaker", sans-serif;
    color: #A51C80;
  }
  .home-textos .button-home {
    text-align: center;
    margin-top: 14px;
  }
  .home-textos .button-home a {
    color: #46515C;
    text-decoration: none;
  }
  .home-textos .button-home a:hover {
    color: #A51C80;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 575.98px) {
    .container-home {
      margin: 4rem 1rem 1rem 1rem;
    }
  
    .img-home-sm {
      display: block;
      text-align: center;
    }
  
    .img-home {
      display: none;
    }
  
    .home-textos .texto-home {
      text-align: center;
      font-size: 38px;
      line-height: 1.2;
      margin-top: 10px;
    }
    .home-textos .subtitulo-home {
      text-align: center;
      font-size: 18px;
      line-height: 1.3;
      margin-top: 8px;
    }
    .home-textos .container-button-home {
      display: flex;
      justify-content: center;
    }
    .home-textos .container-button-home .button-home {
      text-align: center;
      font-size: 16px;
      width: 130px;
      height: 40px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .img-home-sm {
      display: block;
    }
  
    .img-home {
      display: none;
    }
  
    .home-textos {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-textos .texto-home {
      text-align: left;
      font-size: 32px;
      line-height: 1.2;
      margin-top: 12px;
    }
    .home-textos .subtitulo-home {
      text-align: left;
      font-size: 14px;
      margin-top: 12px;
    }
    .home-textos .container-button-home {
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
    .home-textos .container-button-home .button-home {
      font-size: 13px;
      width: 115px;
      height: 30px;
      margin-top: 12px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .container-home {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .container-home .img-home-sm {
      display: none;
    }
    .container-home .img-home {
      display: block;
      width: 130%;
      position: relative;
      left: -3rem;
      z-index: -1;
    }
    .container-home .home-textos .texto-home {
      font-size: 40px;
      line-height: 1.2;
      margin-top: 12px;
      text-align: left;
    }
    .container-home .home-textos .subtitulo-home {
      font-size: 16px;
      margin-top: 13px;
    }
    .container-home .home-textos .button-home {
      font-size: 13px;
      width: 120px;
      height: 30px;
      margin-top: 14px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .container-home {
      margin-left: 1.5rem;
      margin-right: 3rem;
    }
    .container-home .img-home-sm {
      display: none;
    }
    .container-home .img-home {
      display: block;
      width: 130%;
      position: relative;
      left: -4rem;
      z-index: -1;
    }
    .container-home .home-textos .texto-home {
      font-size: 56px;
      line-height: 1.2;
      margin-top: 12px;
      text-align: left;
    }
    .container-home .home-textos .subtitulo-home {
      font-size: 18px;
      width: 90%;
      margin-top: 13px;
    }
    .container-home .home-textos .button-home {
      font-size: 14px;
      width: 120px;
      height: 30px;
      margin-top: 14px;
    }
  }
  @media (min-width: 1199.99px) {
    .container-home {
      margin-right: 2rem;
    }
    .container-home .img-home-sm {
      display: none;
    }
    .container-home .img-home {
      display: block;
      width: 120%;
      position: relative;
      left: -6rem;
      top: -1rem;
      z-index: -1;
    }
    .container-home .home-textos .texto-home {
      font-size: 66px;
      line-height: 1.2;
      text-align: left;
    }
    .container-home .home-textos .subtitulo-home {
      font-size: 18px;
      margin-top: 13px;
      text-align: left;
      width: 70%;
    }
    .container-home .home-textos .button-home {
      font-size: 17px;
      width: 150px;
      height: 33px;
      margin-top: 14px;
    }
  }
  .container-pasos {
    margin-top: 9rem;
    margin-bottom: 7rem;
    margin-right: 0 !important;
  }
  .container-pasos .paso-1 img, .container-pasos .paso-2 img, .container-pasos .paso-3 img {
    width: 40%;
  }
  .container-pasos .paso-1 p, .container-pasos .paso-2 p, .container-pasos .paso-3 p {
    margin-top: 2rem;
    text-align: center;
    color: #46515C;
    font-family: "gandhi_sansregular";
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 575.98px) {
    .paso-1, .paso-2, .paso-3 {
      text-align: center;
    }
    .paso-1 img, .paso-2 img, .paso-3 img {
      margin-top: 4rem;
    }
    .paso-1 p, .paso-2 p, .paso-3 p {
      font-size: 16px;
      padding: 10px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .paso-1, .paso-2, .paso-3 {
      font-size: 14px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .paso-1, .paso-2, .paso-3 {
      font-size: 15px;
    }
  }
  @media (min-width: 1199.99px) {
    .paso-1, .paso-2, .paso-3 {
      font-size: 18px;
    }
  }
  .list-group-item {
    font-family: "gandhi_sansregular";
  }
  .list-group-item.active {
    background-color: #A51C80;
    color: whitesmoke;
    border: none;
  }
  
  .shop-container {
    margin-top: 6rem;
    margin-left: 4rem;
    margin-right: 0;
  }
  .shop-container .inline-shop {
    display: inline-block;
  }
  .shop-container .inline-shop .card-text {
    margin-bottom: 5px;
  }
  .shop-container .inline-shop .name-bodega {
    font-size: 10px;
  }
  .shop-container .item-tripack {
    text-align: center;
  }
  .shop-container .item-tripack .carrito-shop {
    width: 7rem;
    height: 2rem;
    font-family: "gandhi_sansregular";
    font-size: 0.8rem;
  }
  
  /* MEDIA QUERIES SHOP */
  @media (max-width: 575.98px) {
    .shop-container {
      margin-top: 5rem;
    }
    .shop-container .tab-container {
      font-size: 12px;
      width: 80%;
      height: 80%;
      text-align: center;
      margin-left: 0.3rem;
    }
    .shop-container .tab-container .list-group-item {
      padding: 0.2rem 1rem;
    }
    .shop-container .tab-content {
      text-align: center;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .shop-container {
      margin-top: 5rem;
      margin-left: 1rem;
    }
    .shop-container .tab-container {
      margin-top: 0.3rem;
      font-size: 12px;
      text-align: center;
    }
    .shop-container .tab-container .list-group-item {
      padding: 0.3rem 0rem;
    }
    .shop-container .tab-content {
      text-align: center;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .shop-container {
      margin-top: 5rem;
      margin-left: 5rem;
    }
    .shop-container .tab-container {
      margin-top: 0.3rem;
      text-align: center;
      width: 16%;
      margin-right: 0%;
      padding-right: 0;
      padding-left: 0;
    }
    .shop-container .tab-container .list-group-item {
      padding: 0.3rem 0rem;
      margin-right: 0;
    }
    .shop-container .tab-content {
      padding-left: 0;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .shop-container {
      margin-top: 5rem;
      margin-left: 5rem;
    }
    .shop-container .tab-container {
      margin-top: 0.3rem;
      text-align: center;
      width: 16%;
      margin-right: 0%;
      padding-right: 0;
      padding-left: 0;
    }
    .shop-container .tab-container .list-group-item {
      padding: 0.3rem 0rem;
      margin-right: 0;
    }
    .shop-container .tab-content {
      padding-left: 0;
    }
  }
  @media (min-width: 1199.99px) {
    .tab-container {
      margin-top: 0.3rem;
    }
  }
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #EFEFEF;
  }
  
  .texto-contacto, .button-submit, .form-group,
  .button-iniciar-sesion a, .dropdown-cabernet a {
    color: #46515C;
  }
  
  .container-tripacks, .item-tripack p,
  .form-group, .texto-contacto, .button-submit, .newsletter {
    font-family: "gandhi_sansregular";
  }
  
  .container-whapp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 30px;
    z-index: 5;
  }
  .container-whapp a {
    text-decoration: none;
    color: white;
  }
  
  .newsletter {
    width: 100%;
    padding: 0;
    background-color: whitesmoke;
  }
  .newsletter .newsletter-container {
    width: 60%;
    margin-top: 1.6rem;
    text-align: center;
    justify-content: center;
  }
  
  /* MEDIA QUERIES NEWSLETTER */
  @media (max-width: 575.98px) {
    .newsletter-container {
      font-size: 14px;
    }
  }
  .welcome {
    padding: 3rem;
    width: 23rem;
    height: 15rem;
    border-radius: 30px;
  }
  .welcome .welcome-text {
    font-size: 1.3rem;
    font-family: "gandhi_sansregular";
    color: #46515C;
  }
  