/*Clientes*/

.frente-clientes {
    width: 80%;
    padding-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008B8B;
    background-image: url(../imagenes/bg-pattern-bottom.svg), url(../imagenes/bg-pattern-top.svg);
    background-position: left 45vw top 55vh, right 55vw bottom 30vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card {
    height: 25rem;
    width: 25rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.226);
 }
 
 .card-top {
     height: 14rem;
     background-color: #990000e5;
     background-size: cover;
     overflow: hidden;
 }
 
 .card-middle {
     height: 12rem;
     border-bottom: .1rem solid #c0c0c0f3;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .image {
     border-radius: 50%;
     border: .6rem solid white;
     margin-top: -8rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .name {
     font-weight: 500;
     font-size: 22px;
     margin-right: 5px;
 }
 
 .age { 
     font-weight: 500;
     font-size: 22px;
 }
 
 .city {
     font-size: 1.5rem;
     color: black;
 }
 
 .card-bottom {
     display: block;
     margin-right: auto;
     margin-left: auto;
     margin-top: 1rem;
 }

 .h3-card-b {
     color: gray;
     font-size: 20px;
     font-weight: 100;
     padding-left: 5px;
     padding-right: 5px;
     text-align: center;
 }
/*Clientes*/