/*Materias Primas*/

.materiasPrimas {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    border-radius: 3px 3px 0 0;
    background-color: #d1bab5c9;
}

.my-col {
    justify-content: center;
}

.my-container-mp {
    margin-top: 50px;
}

.img-1 {
    width: 50%;
    margin-left: 130px;
    margin-bottom: 100px;
}

.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.5s ease-in-out forwards;
	        animation: scale-up-center 0.5s ease-in-out forwards;
}

.img-2 {
    width: 50%;
    margin-left: 130px;
    margin-bottom: 100px;
}

.img-3 {
    width: 50%;
    margin-left: 130px;
    margin-bottom: 100px;
}

.img-4 {
    width: 50%;
    margin-left: 100px;
    margin-bottom: 100px;
}

.img-5 {
    width: 50%;
    margin-left: 100px;
    margin-bottom: 100px;
}

.img-6 {
    width: 50%;
    margin-left: 100px;
    margin-bottom: 100px;
}

/*Materias Primas*/