/*Contacto*/

#contacto {
    background-color: #595959;
    padding: 40px 0;
}

.index-h2 {
    text-align: center;
    padding: 20px;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

form input {
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

form textarea {
    padding: 70px 20px;
    font-size: 14px;
    margin: 30px 0;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.columna-contacto {
    font-family: 'Montserrat', sans-serif;
    color: white;
}