/*Descripcion*/

.my-container-2 {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;
}

.gif {
    width: 100%;
}

.subtitulo-2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

/*Descripcion*/