/*Footer*/

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: 3%;
}

.instagram {
    width: 3%;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.facebook {
    width: 3%;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.creditos {
    background-color: #000111;
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: whitesmoke;
}

