/*Navbar*/

.header-container {
    font-weight: bold;
    color: grey;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    position: relative;
    z-index: 5;
}

.navbar {
    opacity: 90%;   
    background-color: white;
}

.navbar-inner {
    background:white;
}

.logo {
    width: 6%;
    top: 4px;
    left: 4px;
}

.simples, .triples, .combos {
    text-decoration: none;
    color: gray;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}

/*Navbar*/