/*Sabores*/

.sabores {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: white;
    background-image: url("../Proyecto");
    background-position:top 35vh, right 35vw;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 2;
}

/*Sabores*/