/*Sabores*/

.sabores2 {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: white;
    background-image: url("../imagenes/fondo-main-copia-60k.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
   
}

/*Sabores*/