/*Triples*/

.container-triples {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.imagen {
    margin-top: 10px;
}

.informacion, .precio{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.da-1, .da-2, .da-3, .da-4 {
    border: 1px solid black;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

/*Triples*/